<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GraduationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="mydash">
        <div class="newcontainer">

            <div class="navigation">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-code" aria-hidden="true"></i></span>
                            <span class="title">WHMS</span>
                        </a>
                    </li>
                    <li title="الرئيسية">
                        <a href="~/Home/Index">
                            <span class="icon"><i class="fa fas fa-home" aria-hidden="true"></i></span>
                            <span class="title">الرئيسية</span>
                        </a>
                    </li>
                    <li title="حول الموقع">
                        <a href="~/Home/About">
                            <span class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                            <span class="title">حول الموقع</span>
                        </a>
                    </li>
                    <li title="الأصناف">
                        <a href="~/Category/Index">
                            <span class="icon"><i class="fa fa-carrot" aria-hidden="true"></i></span>
                            <span class="title">الاصناف</span>
                        </a>
                    </li>
                    <li title="القياسات">
                        <a href="~/Measurements/Index">
                            <span class="icon"><i class="fa fa-meteor" aria-hidden="true"></i></span>
                            <span class="title">القياسات</span>
                        </a>
                    </li>
                    <li title="المواد">
                        <a href="~/Items/Index">
                            <span class="icon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                            <span class="title">المواد</span>
                        </a>
                    </li>

                    <!--to check if user was sign in or not to show to him the loging or logout-->
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input type="text" id="myInput" onkeyup="searchTable()" placeholder="ابحث هنا" />
                        <i class="fa fa-search"></i>
                    </label>
                </div>

                <img src="~/serverimages/animatedlogo.gif" style=" width: 90px; position: relative; height: 60px;" />
            </div>
            <div class="container" style="text-align:right;padding-top:20px;">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/togglemenu.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
