@model GraduationProject.ViewModels.Measurements.EditMeasurementViewModel

@{
    ViewData["Title"] = "تعديل القياس";
}
<link href="~/css/button.css" rel="stylesheet" />
<h1>تعديل القياس</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @if (ViewBag.errorMassage != null)
            {
                <h4 class="alert alert-danger">@ViewBag.errorMassage</h4>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeasurementID" />
            <div class="form-group">
                <label class="control-label">اسم القياس</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="تعديل" class="edit-icon-btn" />
            </div>
        </form>
    </div>
</div>


